body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    background-color: red;
    color: white;
}

h3 {
    background-color: red;
    width: 20%;
    margin: auto;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

ul {
    list-style-type: none;
}

a {
    color: red;
    text-decoration: none;
    font-size: 20px;
}

hr {
    border: 1px solid #000;
    width: 90%;
}

a:hover {
    text-decoration: underline;
}

#cookbook {
    height: auto;
    width: auto;
}

.recipes {
    height: 300px;
    width: auto;
}

.description {
    font-size: 15px;
}

.ingredients, .steps {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px; 
}

.ingredients {
    background-color: lightgrey;
}

.steps {
    background-color: rgb(243, 241, 241);
    margin-bottom: 10px;
}
